.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 50px;
}

span{
    margin: 12px 0;
}

.area-input{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideY 2s;
}

.area-input input{
    width: 100%;
    margin-bottom: 12px;
    height: 40px;
    background-color: #121212;
    border: 0;
    border-radius: 6px;
    color: #fff;
    padding: 0 12px;
    text-align: center;
}

.area-input button{
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background-color: #3574ff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

h2{
    margin-top: 20px;
}

@keyframes slideY{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0px);
    }
}

@media (max-width: 545px){

    h1{
        font-size: 35px;
    }

    span{
        display: none;
    }

    .area-input input{
        width: 80%
    }

    .area-input button{
        width: 80%;
    }
}